@import "~bulma/bulma";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body,
html,
#root {
    height: 100%;
}

.board {
    // background-color: #001f3f;
    height: 100%;
    font-family: "mashanzheng";
    background-color: rgb(226, 49, 232) // background-image: url('../public/background_image.jpg');
}

.text-color {
    color: #0074D9;
}

.text-font {
    font-family: 'mashanzheng';
}

@font-face {
    font-family: 'mashanzheng';
    src: local('mashanzheng'), url(./fonts/MaShanZheng.ttf)format('truetype');
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}