@import "~bulma/bulma";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body,
html,
#root {
    height: 100%;
}

.board {
    // background-color: #001f3f;
    height: 100%;
    font-family: "Noto";
    background-color: rgb(226, 49, 232) // background-image: url('../public/background_image.jpg');
}

.gbc {
    background-color: rgb(226, 49, 232)
}

.text-color {
    color: #0074D9;
}

.text-font {
    font-family: 'Noto';
}

@font-face {
    font-family: 'Noto';
    src: local('Noto'), url(./fonts/NotoSansSC.otf)format('truetype');
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 50%));
}

.lngOption {
    position: fixed;
    left: 100px;
    top: 150px;
}